*,
*::before,
*::after {
  box-sizing: border-box;
  transition: opacity .3s cubic-bezier(.075,.82,.165,1);
}

div { display: flex; }

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
  color: var(--color-dark);

  overflow-x: hidden;
  overflow-y: auto;

  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100dvh;
}
