:root {
  --color-black:   #000000;
  --color-white:   #ffffff;

  --color-dark:    #0f0f0f;
  --color-latte:   #fff8e7;
  --color-light:   #f5f5f5;
  --color-grey:    #e5e5e5;
  --color-faded:   #aaaa90;

  --color-transparent-light: #e5e5e533;
  --color-transparent-dark:  #0f0f0f33;

  --color-blue:    #0000ff;
  --color-green:   #007d32;
  --color-yellow:  #eed202;
  --color-orange:  #ff7900;
  --color-red:     #ce2029;
}
