footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;

  font-size: 18px;
  font-weight: thin;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;

  gap: 10px;

  .info {
    background-color: var(--color-grey);
    padding: 0 3px;
    border-radius: 3px;
    font-size: 15px;
    font-family: Menlo, monospace;
    user-select: all;
  }
}
