header {
  z-index: 3;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-style: italic;

  background-color: var(--color-light);
  color: var(--color-dark);
  font-size: 42px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;

  @media (orientation: portrait) and (min-width: 550px){
    position: sticky;
    height: 60px;
    font-size: 42px;
  }

  @media (orientation: portrait) and (max-width: 550px) {
    position: sticky;
    height: 60px;
    margin-bottom: 10px;
    font-size: 9.8vw;
  }
}
