.homepage-container {
  display: flex;
  flex-direction: row;
  gap: 12px;

  height: 55dvh;
  width: 85vw;
  align-self: center;
  margin-top: 2em;
  padding: 0 2em;

  @media (orientation: landscape) and (max-width: 1120px) {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    overflow-x: auto;

    scrollbar-width: none;
    -webkit-tap-highlight-color: transparent;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      display: none;
      width: 0;
    }
  }

  @media (orientation: portrait) and (min-width: 550px){
    flex-wrap: wrap;
    width: 88%;
    height: auto;
  }

  @media (orientation: portrait) and (max-width: 550px) {
    flex-direction: column;
    width: 100%;
    padding: 12px;
    align-items: center;
  }
}

.img-holder {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  min-width: 260px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: skewX(-3deg);

  filter: brightness(0.9) grayscale(0.4);
  transition: flex 0.4s ease-in-out, filter 0.8s ease-in-out;

  padding: 6px 12px;

  align-items: center;
  justify-content: center;

  &:hover {
    flex: 1.3;
    filter: brightness(1) grayscale(0);
  }

  & > p {
    font-size: 42px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;

    cursor: pointer;
    color: var(--color-light);
  }

  @media (orientation: landscape) and (max-width: 1120px) {
    min-width: 300px;
    min-height: 420px;
    flex-shrink: 0;
  }

  @media (orientation: portrait) and (min-width: 550px){
    flex: 1;
    height: 40dvh;


    &:hover {
      flex: 1.2;
    }

    & > p {
      font-size: 36px;
    }
  }

  @media (orientation: portrait) and (max-width: 550px) {
    width: 88%;
    min-height: 180px;

    filter: brightness(1) grayscale(0);
  }
}

.page-img-holder {
  filter: none;
  transition: none;

  &:hover {
    flex: 1;
    filter: brightness(1) grayscale(0);
  }
}

.text-holder {
  display: flex;
  flex-direction: column;
  flex: 3;
  height: 100%;

  justify-content: center;

  padding: 12px 24px;
  gap: 20px;

  @media (orientation: portrait) and (max-width: 550px) {
    justify-content: flex-start;
    padding: 6px 12px;
    text-align: center;
  }

  & > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 6px 12px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;

    &.d1 {
      font-size: 30px;
      justify-content: center;
      transform: skewX(-3deg);


      @media (orientation: landscape) and (max-width: 1120px) {
        font-size: 24px;
      }

      @media (orientation: portrait) and (min-width: 550px){
        font-size: 24px;
      }

      @media (orientation: portrait) and (max-width: 550px) {
        font-size: 24px;
      }
    }

    &.d2 {
      font-size: 36px;
      font-weight: bold;
      background-color: var(--color-grey);
      margin-bottom: 20px;

      justify-content: center;
      transform: skewX(-3deg);

      @media (orientation: landscape) and (max-width: 1120px) {
        font-size: 30px;
      }

      @media (orientation: portrait) and (min-width: 550px){
        font-size: 30px;
      }

      @media (orientation: portrait) and (max-width: 550px) {
        font-size: 30px;
      }
    }

    &.d3 {
      font-size: 30px;
      font-weight: bold;
      background-color: var(--color-grey);
      margin-bottom: 20px;

      justify-content: center;
      transform: skewX(-3deg);

      @media (orientation: landscape) and (max-width: 1120px) {
        font-size: 21px;
      }

      @media (orientation: portrait) and (min-width: 550px){
        font-size: 21px;
      }

      @media (orientation: portrait) and (max-width: 550px) {
        font-size: 21px;
      }
    }
  }
}
